body, textarea, #outputArea {
    font-family: monospace;
}

textarea, #outputArea {
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 600px;
    max-height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: transparent !important;
    color: black;
    outline: none;
    overflow-y: auto;
}

textarea::placeholder {
    color: #888;
}

.transposed {
    color: blue;
}